<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-convert-os-path-workflow</string>
	<key>connections</key>
	<dict>
		<key>0ADB2D36-A302-472D-8B5A-4016C2F86788</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30E6D92B-1467-4E34-A7F6-A7A82EE7F6ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D937C18D-EAAB-4E4E-9317-B945FB963370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0B16820-E784-49E2-9FBE-950B008544C0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Remove this mapping</string>
			</dict>
		</array>
		<key>21576516-5E0E-4D55-A394-C3561F012756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>336FB630-067B-465C-86F5-780F58540419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ADB2D36-A302-472D-8B5A-4016C2F86788</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8BFA0FA5-B19F-4EB4-A687-BC75DC426F96</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in Finder</string>
			</dict>
		</array>
		<key>8BFA0FA5-B19F-4EB4-A687-BC75DC426F96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74C563B9-2A08-42C2-A8CF-761867FB5396</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B23E5F3F-A0BB-45FC-98CC-3E70C7C8F475</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21576516-5E0E-4D55-A394-C3561F012756</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C0B16820-E784-49E2-9FBE-950B008544C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DA20369-476D-4D63-BED0-22B6A1077C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Convert back and forth between UNIX filepaths and Windows filepaths, based on previous mapping configuration between Volume names and Network Drive names</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Convert OS Path</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Converted path copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30E6D92B-1467-4E34-A7F6-A7A82EE7F6ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./switch-path.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0ADB2D36-A302-472D-8B5A-4016C2F86788</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>convert</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./switch-path-feedback.rb "`echo '{query}' | tr '\n' ' '`"</string>
				<key>subtext</key>
				<string>Write or paste a Windows or UNIX path</string>
				<key>title</key>
				<string>Convert Windows Path to UNIX Path and vice versa</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>336FB630-067B-465C-86F5-780F58540419</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D937C18D-EAAB-4E4E-9317-B945FB963370</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./switch-path.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BFA0FA5-B19F-4EB4-A687-BC75DC426F96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>74C563B9-2A08-42C2-A8CF-761867FB5396</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mapping added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42D05639-3F0F-4760-8214-317167E4173D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>convertadd</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./add-config-feedback.rb {query}</string>
				<key>subtext</key>
				<string>Write a Windows Drive followed by a UNIX Volume name</string>
				<key>title</key>
				<string>Add new mapping for OS Path conversion</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B23E5F3F-A0BB-45FC-98CC-3E70C7C8F475</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./add-config.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21576516-5E0E-4D55-A394-C3561F012756</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./remove-config.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0B16820-E784-49E2-9FBE-950B008544C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>convertlist</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./list-config-feedback.rb {query}</string>
				<key>subtext</key>
				<string>and optionally delete a map configuration</string>
				<key>title</key>
				<string>List mapped configurations for OS Path conversion</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mapping removed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6DA20369-476D-4D63-BED0-22B6A1077C3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>0ADB2D36-A302-472D-8B5A-4016C2F86788</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>21576516-5E0E-4D55-A394-C3561F012756</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>30E6D92B-1467-4E34-A7F6-A7A82EE7F6ED</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>336FB630-067B-465C-86F5-780F58540419</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6DA20369-476D-4D63-BED0-22B6A1077C3A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>74C563B9-2A08-42C2-A8CF-761867FB5396</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8BFA0FA5-B19F-4EB4-A687-BC75DC426F96</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B23E5F3F-A0BB-45FC-98CC-3E70C7C8F475</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C0B16820-E784-49E2-9FBE-950B008544C0</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D937C18D-EAAB-4E4E-9317-B945FB963370</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-switch-os-path-workflow</string>
</dict>
</plist>
